S3method(Brier,ElasticNet)
S3method(Brier,default)
S3method(Brier,glm)
S3method(Brier,list)
S3method(Brier,lrm)
S3method(Brier,randomForest)
S3method(Brier,rpart)
S3method(Roc,ElasticNet)
S3method(Roc,default)
S3method(Roc,formula)
S3method(Roc,glm)
S3method(Roc,integer)
S3method(Roc,list)
S3method(Roc,lrm)
S3method(Roc,numeric)
S3method(Roc,randomForest)
S3method(Roc,rpart)
S3method(lines,Roc)
S3method(plot,Roc)
S3method(predictStatusProb,AutoSelectLRM)
S3method(predictStatusProb,BinaryTree)
S3method(predictStatusProb,Ctree)
S3method(predictStatusProb,ElasticNet)
S3method(predictStatusProb,double)
S3method(predictStatusProb,formula)
S3method(predictStatusProb,glm)
S3method(predictStatusProb,lrm)
S3method(predictStatusProb,numeric)
S3method(predictStatusProb,randomForest)
S3method(predictStatusProb,rfsrc)
S3method(predictStatusProb,rpart)
S3method(print,Brier)
S3method(print,Diagnose)
S3method(print,Roc)
S3method(print,Sensitivity)
S3method(print,summary.Roc)
S3method(summary,Brier)
S3method(summary,Roc)
export(AutoSelectLRM)
export(Brier)
export(Ctree)
export(Diagnose)
export(ElasticNet)
export(NPV)
export(PPV)
export(Roc)
export(Sensitivity)
export(Specificity)
export(calPlot2)
export(click.Roc)
export(predictStatusProb)
